@import "Values";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

header {
  padding: $header-padding;
  margin: auto;
  width: max-content;
  display: flex;
  align-items: center;
  button {
    font-size: $btn-font;
    background-color: transparent;
    color: $button-color;
    transition: $transition-time;
    cursor: pointer;

    &:hover {
      transform: rotate(180deg);
    }
  }

  img {
    width: 300px;
  }
}

.footer {
  .link {
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $link-color;
    padding: $link-padding;
  }
  .copyright {
    position: relative;
    display: flex;
    justify-content: center;
    color: $copyright-color;
  }
}
