
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//initialize collor for text
$white-text: #fff;
$black-text: #000;
$green-text: #3e5902;
$dark-green-text: #172601;
$btn-font: 40px;
$child-fontSize: 15px;
$page-linkTitle:20px;
$page-linkColor:lightgray;
$link-color:lightgray;
$button-color:lightgray;
$copyright-color:lightgray;

//initialize collor for button
$green-btn: #77a612;

//initialize collor for background
$ligh-yellow-bck: #edf2c2;
$yellow-bck: #ecf22e;
$bg-blur: 5px;
$bg-brightness:0.5;
$page-font:20px;

//initialize tranzition duration
$transition-time: 0.5s;
$transition-time-long: 1000ms;

//paddings margins
$header-padding : 40px 0 0 0;
$parent-margin: 10px 0 0 0;
$link-padding:0 0 7px 0;

//positioning
$child-top:10px;
$child-width:300px;
$child-right:0px;


//Reset all css
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

//mixin for complete web site
@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin button($background-color, $color, $amount: 20) {
    border-radius: 50px;
    background-color: $background-color;
    color: $color;
    width: 200px;
    height: 50px;
    text-decoration: none;
    transition: $transition-time;
    &:hover {
        background-color: darken($background-color, $amount);
    }
}
