@import "Base";

.page {
  width: 70vw;
  margin: auto;
  .holder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    > div {
      margin: 20px 20px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-size: cover;
      width: 150px;
      height: 150px;
      transition: 200ms;
      &:hover {
        transform: scale(1.4);
      }
      p {
        color: white;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
}
