@import "Base";

body {
  min-height: 100vh;
  height: 100%;
  background-image: url(../Images/Worlds-2017-Promo-HD-Wallpaper-Background-Official-Art-Artwork-fan-art-League-of-Legends-lol.jpg);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur($bg-blur) brightness($bg-brightness);
  header {
    padding: $header-padding;
    margin: auto;
    width: max-content;
    display: flex;
    align-items: center;
    button {
      font-size: $btn-font;
      background-color: transparent;
      color: $button-color;
      transition: $transition-time;
      cursor:pointer;

      &:hover {
        transform: rotate(180deg);
      }
    }

    img {
      width: 300px;
    }
  }

  .page {
    font-size: $page-font;
    color: $page-linkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     .parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: $parent-margin;

      .page-link {
        position: relative;
        color: $page-linkColor;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.120);
        }
        .child {
          position: absolute;
          z-index: 5;
          right: $child-right;
          top: $child-top;
          font-size: $child-fontSize;
          width: $child-width;

          .title {
            font-size: $page-linkTitle;
            font-weight: bold;
          }
        }
      }
    }
  }
  .footer {

    .link {
      position: relative;
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: $link-color;
      padding: $link-padding;
    }
    .copyright {
      position: relative;
      display: flex;
      justify-content: center;
      color:$copyright-color;
    }
  }
}
