@import "Base";

body {
  min-height: 100vh;
  height: 100%;
  background-image: url(../Images/Worlds-2017-Promo-HD-Wallpaper-Background-Official-Art-Artwork-fan-art-League-of-Legends-lol.jpg);
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur($bg-blur) brightness($bg-brightness);

  .page {
    font-size: $page-font;
    color: $page-linkColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: $parent-margin;

      .page-link {
        position: relative;
        color: $page-linkColor;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.12);
        }
        .child {
          position: absolute;
          z-index: 5;
          right: $child-right;
          top: $child-top;
          font-size: $child-fontSize;
          width: $child-width;

          .title {
            font-size: $page-linkTitle;
            font-weight: bold;
          }
        }
      }
    }
  }
}
